downloaddata/output/01_HoaLac_studies_area/globalbuildingatlas_lod1/raw_tiles/e105_n25_e110_n20.parquet
downloaddata/output/01_HoaLac_studies_area/globalbuildingatlas_lod1/raw_tiles/
downloaddata/output/01_HoaLac_studies_area/globalbuildingatlas_lod1/raw_tiles/
